



      
    ::ng-deep #application-table-filters .mdc-text-field--filled .mdc-line-ripple::before {
      border-bottom:none!important;
    }
    ::ng-deep #application-table-filters .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-top: 12px;
      padding-bottom: 8px;
      height: 49px;
    }
   
    
    
     
    #input{
      height: 20px;
      padding-left: 5px;
      font-size: 13px;
      color: rgb(80, 78, 78);
    
    }
    mat-label{
      color: #00b2e2 ;
      transform-origin: left top;
      font-size: 15px;
      padding-left: 5px;
      
    }
    #input{
    
      height: 36px;
      padding-left: 5px;
      font-size: 13px;
      color: rgb(80, 78, 78);
    
    }
    ::ng-deep #application-table-filters .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
      border-bottom:none;
    }
     ::ng-deep #application-table-filters.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      line-height: normal;
      pointer-events: all;
      top: 23px;
    } 
     
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      height: 44px;
      border-radius: 7px;
  }
 

.create {
    display: flex;
    justify-content: end;
    height: 64px;
    align-items: center;
}
.create img{
    width: 22px;
    height: 22px;
    cursor: pointer;

}
.mat-elevation-z8{

    box-shadow: none;
}
.organization-nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    
}
.organization-text{
    color: #f7941d;
    font-family:' Poppins', sans-serif;
    letter-spacing: 0.1px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 24px;
    height: 23px;
    width: 209px;
    
}
::ng-deep.organization-search{
    margin-right: 24px;
    margin-top: 12px;
    
    width: 257px;
    height: 40px;
    display: flex;
}


.search-icon{
    margin-left: 13px;
    
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 21px;
    border-radius: 100%;
    
}

  
  dc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    /* background: inherit; */
    padding-right: 0px;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  padding-right: 0;
  background: inherit;
}
::ng-deep #application-forms{
  width: 184px !important;
  margin-right: 20px;
  height: 49px;

  position: relative;
}
::ng-deep #application-table-filters .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  height: 49px;
  border-radius: 3px;
  padding: 3px;
  background-color: white;
}
  
  
  
  .name-head{
    letter-spacing: 0px;
    padding-left: 43px;
  }
  .name-cont{
    
    padding-left: 43px;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
.checkbox-header{
    width: 55px;
}
.name-header{
    
    padding-left: 200px;
    width: 700px;
}

.tool-bar{
    align-items: center !important;
    position:absolute;
    background-color: rgb(0,178,226);
    z-index: 6;
    width:100%;
    top: 0;
    left: 0;
    height: 58px;
    /* border-radius: 7px; */
    display: none;
    
  
  }
  .tool-bar-block{
    
    display: flex;
    justify-content: space-between;
  
  }
  .tool-bar-options{
    display:flex ;
  justify-content: center;
  align-items: center;
    margin-top: 15px;
    margin-right: 6px;
  }
  #tool-bar-edit img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-right: 35px;
    display: block;
  }
  .tool-bar-delete img{
    width: 20px;
    height: 20px;
  cursor: pointer;
  
  }
  .tool-bar-num{
    color:#231f20;
    
    margin-left: 11px;
   width: 30px;
    padding-top: 15px;
  }
  ::ng-deep .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
  }
  ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    height: 48px !important;
    font-size: 14px;
    font-weight: 600 !important;
    font-family: 'popins',sans-serif;
  }
  @media screen and (max-width: 768px) { /* Adjust the max-width to target smaller screens if needed */
    #setTextAlign {
      text-align: center;
    }
  }
  /* loader */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #00b2e2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  /* Mobile screens */
@media only screen and (max-width: 767px) {
  .card-title,
  .role-set,
  .head-id,
  .name-head,
  .app-id {
    font-size: 12px; /* Adjust the font size as needed for mobile */
  }
  .name-header{
    padding-left: 0px;
    /* width: 0px; */
  }
}
/* Set CheckBox Color */
::ng-deep .main-content .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: #00b2e2 !important;
  background-color: #00b2e2 !important;
}
::ng-deep .main-content .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
  border-color: #00b2e2 !important;
  background-color: #00b2e2 !important;
}
/* SnackBar */
::ng-deep .success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 5px !important ;
  background-color: white!important;
} 
::ng-deep .success-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: green!important ;
}
::ng-deep .success-snackbar.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: black!important ;
}
::ng-deep .error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 5px !important ;
  background-color: white;
}
::ng-deep .error-snackbar.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: red!important ;
}
::ng-deep .error-snackbar.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: black!important ;
}