<mat-dialog-content id="dialog">
    <div class="create">
      <div class="create-text">{{ Department.id ? 'Update'  : 'Create'}}</div>
      <div class="close-icon">
        <img mat-dialog-close src="/assets/close.svg" alt="" />
      </div>
    </div>
  
    <div class="dialog-cont">
      <form id="Dform">
        <mat-form-field id="input-text">
          <mat-label>Department Name</mat-label>
          <input
            type="text"
            matInput [(ngModel)]="Department.name"
            [formControl]="usernameFormControl"
            placeholder=""
          />
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Department Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('minlength')">
            Department Name should be at least 5 characters long
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
            Department Name should be no more than 15 characters long
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action" align="end">
    <button (click)="cancelDialog()" mat-stroked-button mat-dialog-close color="primary">Cancel</button>
    <button (click)="addOrganization()" mat-stroked-button color="primary">{{ Department.id ? 'Update'  : 'Create'}}</button>
  </mat-dialog-actions>
  
