<div class="main-content">
  <div class="overlay" *ngIf="loading">
    <div class="loader"></div>
</div>
<mat-dialog-content class="time">
  <!-- Table for Employee Details -->
  <table class="table" mat-table [dataSource]="dataService.employees" multiTemplateDataRows>
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="name-head">
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          [class.white-background]="!isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="name-cont">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="handleCheckboxChange(row)"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
          (change)="$event ? selection.toggle(row) : null"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Checkbox Column -->
   
    <ng-container matColumnDef="fname">
      <th class="name-head" mat-header-cell *matHeaderCellDef>FirstName</th>
      <td class="name-cont" mat-cell *matCellDef="let element">
        {{ element.firstName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Lname">
      <th class="name-head" mat-header-cell *matHeaderCellDef>Surname</th>
      <td class="name-cont" mat-cell *matCellDef="let element">
        {{ element.lastName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="toggleButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="toggle-cell">
        <button mat-icon-button (click)="$event.stopPropagation(); toggleExpansion(row)">
          <mat-icon>{{ isExpanded(row) ? "remove" : "add" }}</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ... (rest of your columns) -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="name-head">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="expandedElement = expandedElement === element ? null : element; dataService.employeeInTimeSheet = element;"
        >
          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
        </button>
     
        
       
      </td>
    </ng-container>
    <!-- Expandable row -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
        >
          <ng-container *ngIf="element == expandedElement">
            <!-- Only load the component when the element is expanded -->
            <app-timesheet-emplyees-rate (click)="handleExpansionClick($event)" [employee]="element"></app-timesheet-emplyees-rate>
          </ng-container>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Expenses">
      <th class="name-head" mat-header-cell *matHeaderCellDef>Expenses</th>
      <td class="name-cont" mat-cell *matCellDef="let element">
        <span matPrefix>{{ "€" }}</span>
        <input
          required="required"
          type="number"
          [(ngModel)]="element.expenses" 
          (ngModelChange)="onInputChanged(element)"

          placeholder="Enter Amount"
          pattern="^[0-9]*$"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="deduction">
      <th class="name-head" mat-header-cell *matHeaderCellDef>Deduction</th>
      <td class="name-cont" mat-cell *matCellDef="let element">
        <span matPrefix>{{ "€" }}</span>
        <input
          required="required"
          type="number"
          [(ngModel)]="element.deductions"   
          (ngModelChange)="onInputChanged(element)"
          placeholder="Enter Amount"
          pattern="^[0-9]*$"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="pay">
      <th class="name-head" mat-header-cell *matHeaderCellDef>Gross Pay</th>
      <td mat-cell *matCellDef="let element"  class="name-cont" id="p-form-data">
        {{ element.grossPay | currency : "EUR" }} 
      </td>
    </ng-container>
    <!-- setting Column -->
    <tr class="name-head" mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[4, 5, 8]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</mat-dialog-content>
<div style="display: flex; flex-direction: column">
  <div style="float: right; margin-right: 26px" align="end">
    <!-- Display Subtotal -->
    <p>Subtotal: {{ dataService.displayedTotalGrossPay| currency:'EUR':'symbol':'1.2-2' }}</p>
    <p>Grand Total:{{dataService.displayedTotalGrossPay| currency:'EUR':'symbol':'1.2-2' }}</p>
  </div>
  <mat-dialog-actions align="end" id="setbtn">
    <button mat-stroked-button color="primary" (click)="cancelDialog()" >
      Cancel
    </button>
    <button *ngIf="isStatusPendingOrApproved()"
    mat-stroked-button
    (click)="selectedRow?.timesheetId ?updateTimesheet():addTimesheet()"
    cdkFocusInitial
    style="background-color:#00b2e2;color:white;cursor: pointer;"
  >
    {{ selectedRow?.timesheetId ? "Update" : "Create" }}
  </button>
  </mat-dialog-actions>
</div>
