.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  ::ng-deep #inputSet .mdc-text-field--filled:not(.mdc-text-field--disabled):hover{
    background-color:white !important;
   }
 
   ::ng-deep #inputSet .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
    padding-left: 0px;
    font-size: 13px;
}
  ::ng-deep #inputSet .mat-mdc-form-field-focus-overlay{
    opacity: .04;
    background-color: white;
}
::ng-deep  #inputSet .mdc-text-field--filled .mdc-line-ripple::before {
  border-bottom:1px solid rgb(221, 217, 217) !important;
}
::ng-deep  #inputSet .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom:2px solid rgb(39, 38, 38);
}
/* loader */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #00b2e2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }}