::ng-deep #p-form-data .mdc-text-field--filled:not(.mdc-text-field--disabled):focus{
    background-color:white !important;
}
::ng-deep #p-form-data  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  padding-top: 19px !important;
  background: white;
  }
::ng-deep #p-form-data .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  /* background-color: var(--mdc-filled-text-field-container-color); */
  background: white;
  padding: 0px;

}
::ng-deep #p-form-data .mdc-text-field--filled:not(.mdc-text-field--disabled) ::after {
  /* background-color: var(--mdc-filled-text-field-container-color); */
  background: white;

}
::placeholder{
  padding-left:1px;
  font-size: 11px;
}
input {
  overflow: visible;
  border: none;
  border-bottom: 1px solid rgb(169, 169, 169);
  height: 35px;
  width: 88px;
}
::ng-deep #p-form-data .mat-mdc-form-field-subscript-wrapper {
    height: 0;
    width: 100%;
}
::ng-deep.drop.mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  cursor: pointer;
  width: 163px !important;
  height: 51px !important;
  border-radius: 0px !important;
}
::ng-deep.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 0;
}
.time{
  width: 100%;
  height: 65vh;
  overflow-x: hidden;
  padding: 0;
  
 }
 .drop{
  float: right;
  margin-right: 23px;
  margin-top: 5px;
  background-color: white;
 }
 .name-head {
  font-size: 14px;
  background-color: rgb(169, 169, 169);
  padding-left: 57px;

}
.example-element-detail {
  overflow: hidden;
  transition: height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.example-element-detail.expanded {
  height: auto;
}

.example-element-detail.collapsed {
  height: 0;
  min-height: 0;
}

/* Optional: Add border to data cells */
.name-cont {
  font-size: 13px;
padding-left: 2px;
width: 50px !important;

}
.profile-header {
  align-items: center;
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  background-color:  #00b2e2;
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep.time.mdc-dialog .mdc-dialog__content {
  padding:0px;
}
::ng-deep.mat-mdc-dialog-content{
    max-height: 100vh !important;
}
.profile-text {
  color:white;
  font-size: 20px;
  margin-left: 16px;
  font-family: "popins", sans-serif;
}
.close-icon {
  width: 17px;
  height: 18px;
  cursor: pointer;
  margin-right: 16px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #00baf2;
  border-radius: 20px;
}

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    width: 20px;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  tr.example-detail-row::before {
    height: 0 !important;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
    /* display: none; */
  }
  
  /* tr.example-detail-row.expanded {
    height: auto;
    display: table-row;
  } */
  
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
    padding-left: 57px;

  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 404px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
::ng-deep#setbtn.mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end, .mat-mdc-dialog-actions[align=end] {
    justify-content: flex-end;
    padding-right: 27px !important;
}