
<div>

<div class="content" >
  <div class="loader-container" >
    <div class="loader"></div>
  </div>

    <!-- <div class="card-container" style="margin-top: 18%;">
      <a class="card" rel="noopener" href="https://dgr.sso.id/oauth/Authorize?client_id=qCsKVnvYyvOqLiJOJFApr&response_type=code&redirect_uri={{admindataservice.baseUrl}}/&state={{admindataservice.baseUrl}}/" style="text-decoration: none;color: white;background-color: #00b3e3;border: none;">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
          <span style="font-family: Poppins,sans-serif;font-weight: 500;">Login with SSO</span>
             </a>
    </div> -->
  
  </div>
</div>