
<div class="create">
    <div class="create-text" style="padding-left: 10px;"> {{ group.groupId ? "Update" : "Create" }}</div>
    <div class="close-icon" style="text-align: right;padding-right:10px;">
        <mat-icon class="material-icons" mat-dialog-close>clear</mat-icon>
    </div>
</div>
<div class="overlay" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="setTabs">
  <mat-list>
  <!-- Group Name -->
  <div class="selectdepart">
   
    <div>
  <form id="depart-drop">
    <mat-form-field>
      <mat-label class="role-set">Group Name</mat-label>
      <input class="value" matInput [formControl]="NameFormControl" [(ngModel)]="group.name"/>
      <mat-error *ngIf="NameFormControl .hasError('required')">
         <strong>required</strong>
        </mat-error>
    </mat-form-field>
  </form>
 </div>

 <div class="checkaddress">
    <form id="Address">
    <mat-form-field>
      <mat-label class="role-set">Address</mat-label>
      <input class="value" matInput [formControl]="AddressFormControl" [(ngModel)]="group.address"/>
      <mat-error *ngIf="AddressFormControl .hasError('required')">
         <strong>required</strong>
        </mat-error>
    </mat-form-field>
    </form>
  </div>
  </div> 
  <mat-divider></mat-divider>
  <div class="headtag"><p class="setPtag">Primary Contact</p></div>
  <div class="selectdepart">
   
    <div>
  <form id="depart-drop">
    <mat-form-field>
      <mat-label class="role-set">Name</mat-label>
      <input class="value" matInput [(ngModel)]="group.primaryContactName"/>
     
    </mat-form-field>
  </form>
 </div>

 <div class="checkaddress">
    <form id="Address">
    <mat-form-field>
      <mat-label class="role-set">Email</mat-label>
      <input
      type="email"
      matInput [(ngModel)]="group.primaryContactEmail"
      [formControl]="AccountemailFormControl"
      placeholder=""
    />
    <mat-error *ngIf="AccountemailFormControl.hasError('email')">
      Please enter valid Email
    </mat-error>
    <mat-error *ngIf="AccountemailFormControl .hasError('required')">
      <strong>required</strong>
     </mat-error>
    </mat-form-field>
    </form>
  </div>
  <div class="setPosition">
    <form id="depart-drop">
    <mat-form-field>
      <mat-label class="role-set">Position</mat-label>
      <input
      type="text"
      matInput [(ngModel)]="group.primaryContactPosition"
      placeholder=""
    />
    </mat-form-field>
    </form>
  </div>
  </div> 
  <div class="selectdepart">
    <form id="depart-drop">
      <mat-form-field>
        <mat-label class="role-set">Phone Number</mat-label>
        <input class="value" matInput [(ngModel)]="group.primaryContactNumber"/>
       
      </mat-form-field>
    </form>
  </div>
  <div class="selectdepart">

    <mat-slide-toggle  [(ngModel)]="group.isPORequired" (change)="onToggleChange()" id="setcolor">PO Required</mat-slide-toggle>  
    
  </div>
  <mat-divider></mat-divider>

</mat-list>
  <!--  -->
  <div class="Tabs">
  <mat-tab-group>
    <!-- Users Tab -->
    <mat-tab label="Approvers"> 
        <div class="search" id="searchset">
          <form class="example-form" id="filter">
            <mat-form-field class="example-full-width">
              <input
                type="text"
                placeholder="Select Approver"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [(ngModel)]="value" 
                [matAutocomplete]="auto"
                (focus)="addUsers()"
              />
              <button
                *ngIf="value" 
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearInput()"
              >
                <mat-icon class="material-icons">clear</mat-icon>
              </button>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredUsers | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>  
            <!-- Table -->
      <div class="setOverflow" id="setOverflows">
        <table mat-table [dataSource]="userdataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName +' '+element.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> <ng-container *ngIf="!isSmallScreen"
              >Email</ng-container> </th>
            <td mat-cell *matCellDef="let element"> 
              <ng-container *ngIf="!isSmallScreen"
                        > {{element.email}}</ng-container>
               
            </td>
          </ng-container>
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-icon class='material-icons' (click)="deleteUsers(element, i)" style="color: red;cursor: pointer;">delete</mat-icon>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> 
      </div>
    </mat-tab>

    <!-- Employees Tab -->
    <mat-tab label="Employees"> 
            <div class="search" id="searchset">
              <form class="example-form" id="filter">
                <mat-form-field class="example-full-width">
                  <input
                    type="text"
                    placeholder="Select Employees"
                    aria-label="Number"
                    matInput
                    [formControl]="myControl"
                    [(ngModel)]="value" 
                    [matAutocomplete]="autos"
                    (focus)="addEmployees()"
                  />
                  <button
                    *ngIf="value" 
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearUser()"
                  >
                    <mat-icon class="material-icons">clear</mat-icon>
                  </button>
    
                  <mat-autocomplete #autos="matAutocomplete">
                    <mat-option *ngFor="let options of filteredOptions | async" [value]="options">
                      {{ options }}
                    </mat-option>
                  </mat-autocomplete>
                  </mat-form-field>
              </form>
            </div>  
                <!-- Table -->
          <div class="setOverflow" id="setOverflows">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName +' '+element.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>
                  <ng-container *ngIf="!isSmallScreen"
                        >Email</ng-container>
                   </th>
                <td mat-cell *matCellDef="let element"> 
                  <ng-container *ngIf="!isSmallScreen"
                        > {{element.email}}</ng-container> 
                 
                </td>
              </ng-container>
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> 
                  <mat-icon class='material-icons' (click)="deleteEmployees(element, i)" style="color: red;cursor: pointer;">delete</mat-icon>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
            
          </div>
        
    

    </mat-tab>

  </mat-tab-group>
</div>
</div>
<mat-dialog-actions class="action" align="end">
    <button  mat-stroked-button (click)="cancelDialog()" color="primary">Cancel</button>
    <button  mat-stroked-button style="background-color:#00b2e2;color:white" (click)="add()" >{{ group.groupId ? "Update" : "Create" }}</button>
  </mat-dialog-actions>